/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 

.mainmenu li ul {
    width: 169px;
    left: 11px;
}

.sticky .mainmenu {
    margin-left: 65px;
}

.hero-content p {
    font-size: 16px;
}
.cta-box-content h3 {
    font-size: 20px;
}

.team-content {
    padding-top: 65px;
}
.blog-hero h1 {
    font-size: 46px;
}

.popular-content h6 {
    font-size: 17px;
}
.popular-content p {
    font-size: 11px;
}

.blog-page-content h6 a {
    font-size: 18px;
}

.team-line .col-xl-3.col-lg-3.col-sm-6.col-12 {
    margin-right: unset;
    margin-left: unset;
}

.team-content.text-right {
    margin-right: 18px;
    margin-left: 0;
}

.team-content p {
    font-size: 12px;
}

}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 

.team-content {
    padding-top: 116px;
}

.about-call {
    margin-top: 417px;
}

.about-call-2 {
    margin-top: 487px;
}

.cta-call, .cta-img-box {
    padding-top: 10px;
    padding-bottom: 75px;
}

.map-img-area {
    margin-top: -123px;
}

.details-search p input {
    border: none;
    width: 95%;
    padding: 7px;
}

.single-cta-box {
    background-color: #F5F5F5;
    padding: 20px;
    transition: all 1s ease 0s;
    margin-bottom: 30px;
}



.abour-bg-img-1, .abour-bg-img {
    height: 42%;
    width: 100%;
}


}








/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 

.team-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.single-cta-box {
    margin-bottom: 25px;
}


.portfolio-link li {
    padding: 5px;
    font-size: 10px;
}

.cta-call, .cta-img-box {
    padding-top: 4px;
    padding-bottom: 72px;
}

.about-call {
    margin-top: 521px;
}

.about-call-2 {
    margin-top: 627px;
}

.blog-wrap {
    margin-bottom: 26px;
}

.blog-details-wrap{
    margin-bottom: 0;
}

.contact-area .mt-90 {
    margin-top: 50px;
}

.map-img-area {
    margin-top: -68px;
}


.blog-details-box-img {
    width: 14%;
}

.details-search p input {
    width: 92%;
}

.blog-hero h1 {
    font-size: 50px;
}


.blog-page-content h6 a {
    font-size: 20px;
}

.abour-bg-img-1, .abour-bg-img {
    height: 26%;
    width: 100%;
}

.about-call {
    margin-top: 332px;
}

.about-call-2 {
    margin-top: 409px;
}
.call-to-action.call-to-action-2.about-call.about-call-2 {
    margin-left: 0;
}
}







/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
.about-call {
    margin-top: 300px;
}

.about-call-2 {
    margin-top: 362px;
}


}




/* Tablet & Mobile Layout: 768px. */
@media only screen and (max-width: 991px) {

.team-box {
    border-bottom: 1px solid #dddddd80;
}

.team-line .col-xl-3.col-lg-3.col-sm-6.col-12 {
    margin-right: unset;
    margin-left: unset;
}

.sticky .mainmenu ul, .sticky .logo {
    text-align: left !important;
}


.hero-content h1 {
    font-size: 31px;
}
.hero-content p {
    font-size: 15px;
}
.hero-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* About */
.abour-bg-img-1 {
    left: 0;
}



.blog-img img {
    width: 100%;
}
.blog-wrap {
    margin-bottom: 30px;
}

.cta-call h6{
    margin-top: 24px;
}

.team-img img {
    width: 100%;
}



.team-box-4 {
    border-right: none;
}


.count-box {
    margin-top: 30px;
    margin-bottom: 30px;
} 

.blog-right h3 {
    margin-top: 48px;
}

.mainmenu {
    display: none !important;
}

.slicknav_menu{
    display: block;
}


#mobile-menu-wrap {
    right: 0;
    top: 14px;
    position: absolute;
    z-index: 2;
}

.sticky #mobile-menu-wrap {
    top: -6px;
}

.slicknav_menu .slicknav_menutxt {
    display: none;
}

.slicknav_menu {
    background: none;
    margin-right: 30px;
}

.slicknav_btn {
    background: none;
}

.slicknav_menu .slicknav_icon-bar {
    color: #038FDA;
}

.slicknav_menu .slicknav_btn span.slicknav_icon-bar {
    background: #F02D2D;
    text-shadow: 0 0 0;
}

.home-2 .slicknav_menu .slicknav_btn span.slicknav_icon-bar {
    background: #fff;
    text-shadow: 0 0 0;
}

.sticky .slicknav_menu .slicknav_btn span.slicknav_icon-bar {
    background: #fff;
}
.sticky .slicknav_menu .slicknav_btn span.slicknav_icon-bar {
    background: #fff;
}

.slicknav_menu a.slicknav_btn {
    background: none;
    margin: 2px;
    margin-top: 6px;
}

.slicknav_nav {
    width: 240px;
    background: #F6708F;
    margin-right: 10px;
}

.slicknav_nav .slicknav_row, .slicknav_nav a {
    padding: 10px;
    margin: 0;
}

.slicknav_nav a{
    transition: .3s
}

.slicknav_nav a:hover {
    background: #A5D0D9;
    border-radius: 0;
    margin: 0;
}

/* me */
.slicknav_nav a:hover{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 100%;
    margin-left: 0;
}
.slicknav_nav a {
    width: 100%;
    margin-left: 0;
}

.slicknav_parent.slicknav_collapsed a, .slicknav_parent.slicknav_open a {
    width: 100%;
    margin-left: 0;
}

.slicknav_parent.slicknav_collapsed a:hover, .slicknav_parent.slicknav_open a:hover{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 100%;
    margin-left: 0;
}
#mobile-menu-wrap li a i {
    display: none !important;
}

.copy-right {
    text-align: center !important;
}

.footer-right {
    text-align: center !important;
    margin-top: 20px;
}

.copy-right p {
    margin-left: 20px;
}



.pricing-wrap-2 {
 margin: 0;
}

.pricing-wrap, .pricing-wrap-2 {
    margin-bottom: 30px;
}

.pricing-area {
    padding-bottom: 60px;
}

.about-area.mt-90 {
    margin-top: 60px;
}

.countdown-area.mt-90 {
    margin-top: 68px;
}

.price-destance {
    margin-top: 46px;
}
    
}


